/*Importando fonte*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*Regras gerais*/
html{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

h1, p, form{
    margin: 10px;
}

#tela{
    margin: 10px;
}

img{
    float: left;
    margin-right: 10px;
    width: 120px;
}

.titulo{
    font-weight: 700;
}

.creditos{
    color: red;
}

.boxNoticias{
    color: dimgray;
    margin-bottom: 10px;
    clear: both;
}

.active{
    background-color: red;
}

/* LOADING */

.loading-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }