/*Importando fonte*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*Regras gerais*/
html{
    font-family: 'Open Sans', sans-serif;
}






body{
    margin: 0;
    padding: 0;
}

h1, p, form{
    margin: 10px;
}

#tela{
    margin: 10px;
}

img{
    float: left;
    margin-right: 10px;
    width: 120px;
}

.titulo{
    font-weight: 700;
}

.creditos{
    color: red;
}

.boxNoticias{
    color: dimgray;
    margin-bottom: 10px;
    clear: both;
}